<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "edu.coloradomesa.lmoses.geopic"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Geo Pic</name>

    <description>
        The GeoPic app.
    </description>

    <author href="www.lmoses.com" email="moses@lmoses.com">
        Luke Moses
    </author>

</widget>
